body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:burlywood;
    background-image: url('Site pictures/darky.jpg');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.photo{
    height:149px;
    width: 159px;
}

.jumbotron{
    background-image: url('Site pictures/walk-in closet.jpg');
    background-size:auto;
    background-position:center;
}

#top {
    background-image: url('Site pictures/express.jpg');
    background-size:cover;

}

#bottom {
    background-image: url('Site pictures/drkgrey.png');
    background-size:cover;

}

#shoe {
    background-image: url('Site pictures/salvatore.jpg');
    background-size:cover;
}

#accessory {
    background-image: url('Site pictures/salvatore2.png');
    background-size: cover;
}

